{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="mb-md-5 mt-md-4 pb-5">
    <form action="{{ url_for('register') }}" method="POST">
        <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
        <p class="text-white-50 mb-5">Create an Account</p>

        <div class="form-outline form-white mb-4">
            <label for="username">Username</label>
            <input type="text" class="form-control form-control-lg" id="username" name="username"><br>
            
            <label for="password">Password</label>
            <input type="password" class="form-control form-control-lg" id="password" name="password">
        </div>
        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
    </form>
</div>

<div>
    <p class="mb-0">Don't have an account? <a href="{{url_for('register')}}" class="text-white-50 fw-bold">Register</a></p>
</div>
{% endblock %}